* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gbg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  color: #ffffff;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.heading {
  font-size: 12vmin;
  margin-bottom: 3vh;
}

#name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.players {
  height: 70vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(222, 217, 217, 0.171);
  border-radius: 2rem;
  box-shadow: 0 0 20px black;
  backdrop-filter: blur(10px);
}

.name {
  font-size: 6vmin;
}

input {
  width: 50vmin;
  background: transparent;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 3vmin;
  border: none;
  border-radius: 1vh;
  padding: 20px;
}
input::placeholder {
  color: lightgray;
}

.container {
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 40px;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.5s ease;
}

.box {
  height: 18vmin;
  width: 18vmin;
  font-size: 8vmin;
  font-weight: 600;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  transition: transform 0.2s ease, background-color 0.3s ease;
}
.box:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.box:active {
  transform: scale(0.95);
}

button {
  transition: all 0.3s ease;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}

.btn {
  padding: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.btn:active {
  transform: scale(0.95);
}

#reset-btn {
  position: relative;
  bottom: 10px;
}

.msg-container p {
  font-size: 6vmin;
  margin: 3rem;
}

.msg-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msg {
  height: 80vh;
  width: 60vw;
  background-color: rgba(222, 217, 217, 0.171);
  border-radius: 2rem;
  box-shadow: 0 0 20px black;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}

.winner-text {
  font-size: 2rem;
  font-weight: bold;
  background-color: linear-gradient(90deg, #ff0080, #ff8c00, #40e0d0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s infinite linear;
}
@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 13vmin;
    margin-top: 8vh;
  }
  .container {
    height: 60vh;
  }
  .game {
    height: 60vmin;
    width: 60vmin;
  }
  .box {
    height: 18vmin;
    width: 18vmin;
  }
  .btn {
    font-size: 5vmin;
  }
  #reset-btn {
    margin-top: 3vh;
    margin-bottom: 10vh;
  }
  .msg-container p {
    font-size: 5vmin;
    margin: 3rem;
  }
  .msg-container {
    height: 100vh;
  }
}
